<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div id="authors">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <%= render author %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New author", new_author_path, class: "btn btn-success" %>
