<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.name %>!</h1>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Welcome to Book Borrowing App</h1>
  <%= link_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path, method: :post %>
<% end %>
Hello <%= @my_id %>