<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New category", new_category_path, class: "btn btn-success" %>
