<div class="mt-5 d-flex flex-column sidebar bg-light collapsed" id="sidebar">
  <ul class="nav flex-column mt-3 mb-auto">
    <li class="nav-item mb-2">
      <a href="/books" class="nav-link d-flex align-items-center text-dark" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
        <i class="me-2"><%= render "application/icons/icn_home" %></i>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/authors" class="nav-link d-flex align-items-center text-dark" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" title="Authors">
        <i class="me-2"><%= render "application/icons/icn_profile" %></i>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/books" class="nav-link d-flex align-items-center text-dark" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" title="Books">
        <i class="me-2"><%= render "application/icons/icn_document_pdf" %></i>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/categories" class="nav-link d-flex align-items-center text-dark" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" title="Categories">
        <i class="me-2"><%= render "application/icons/icn_dashboard" %></i>
      </a>
    </li>
  </ul>
</div>
